// .icon_close:before {
//     content: url(../assets/close.svg);
// }

// .icon_like:before {
//     content: url(../assets/like.svg);
// }

// .icon_dislike:before {
//     content: url(../assets/dislike.svg);
// }
@use 'partitials/theme';
@use 'partitials/global';

#wall {
    width: calc(100% - 30px);
    max-width: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;

    .heading {
        height: 54px;
        margin: 10px 0;
        border-radius: 5px;
        overflow: hidden;
        background: whitesmoke;

        h6 {
            width: 37%;
            height: 100%;
            margin: 0;
            background-color: theme.$primary;
            color: white;
            padding: 0 10px;
            box-sizing: border-box;
        }

        span {
            font-size: 16px;
            padding: 0 10px;
            width: 63%;
            box-sizing: border-box;
            text-align: center;
        }
    }

    .data {
        margin-top: 20px;

        .item {
            margin: 10px 0;
            background: whitesmoke;
            border-radius: 3px;
            padding: 0 10px;

            span {
                color: theme.$primary;
                font-size: 16px;
                font-weight: 500;
            }

            b {
                font-size: 16px;
            }
        }
    }
}