@use 'partitials/theme';
@use 'partitials/global';

#wall {
  width: calc(100% - 30px);
  max-width: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 40px auto;

  .heading {
    height: 54px;
    margin: 10px 0 30px;
    border-radius: 5px;
    overflow: hidden;
    background: whitesmoke;

    h6 {
      width: 37%;
      height: 100%;
      margin: 0;
      background-color: theme.$primary;
      color: white;
      padding: 0 10px;
      box-sizing: border-box;
    }

    span {
      font-size: 16px;
      padding: 0 10px;
      width: 63%;
      box-sizing: border-box;
      text-align: center;
    }
  }

  .data {
    margin-top: 20px;

    .item {
      margin: 15px 0;
      background: whitesmoke;
      border-radius: 3px;
      padding: 10px 10px;
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .2), 0 1px 5px -4px rgba(0, 0, 0, .14), 0 1px 6px 0px rgba(0, 0, 0, .12);

      span {
        color: theme.$primary;
        font-size: 16px;
        font-weight: 500;
      }

      b {
        font-size: 16px;
      }
    }
  }
}