// .icon_close:before {
//     content: url(../assets/close.svg);
// }

// .icon_like:before {
//     content: url(../assets/like.svg);
// }

// .icon_dislike:before {
//     content: url(../assets/dislike.svg);
// }
@use 'partitials/global';

#wall {
    width: calc(100% - 30px);
    max-width: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px 1px;
    margin: 40px auto;


    .form {
        margin-bottom: 20px;

        .input-field.col label {
            left: 0;
        }

        button {
            background: rgb(89, 89, 189);
            color: white;
            height: 32px;
            border: none;
            float: right;
            font-size: 14px;
            border-radius: 3px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 10px;
            outline: none;
        }

        .dropdown-content li {
            padding: 0 10px;
            position: relative;

            span {
                padding-left: 0;
                width: 100%;
            }

            i {
                position: absolute;
                right: 10px;
                z-index: 1;
            }

            &.selected i {
                display: none;
            }
        }
    }
}