// .icon_close:before {
//     content: url(../assets/close.svg);
// }

// .icon_like:before {
//     content: url(../assets/like.svg);
// }

// .icon_dislike:before {
//     content: url(../assets/dislike.svg);
// }
@use 'partitials/global';

#wall {
    width: calc(100% - 30px);
    max-width: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;

    .form {
        margin-bottom: 20px;

        .input-field.col label {
            left: 0;
        }

        input {
            &[type="submit"] {
                background: rgb(89, 89, 189);
                color: white;
                height: 32px;
                border: none;
                float: right;
                font-size: 14px;
            }
        }

        button {
            background: rgb(89, 89, 189);
            color: white;
            height: 32px;
            border: none;
            float: right;
            font-size: 14px;
            border-radius: 3px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 10px;
            outline: none;
        }

        .dropdown-content li>a,
        .dropdown-content li>span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
}