.d_fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j_sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.j_sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.j_c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.a_c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field input[type=number]:focus + label {
  color: #3f51b5 !important;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.input-field input[type=number].valid {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #3f51b5;
}

.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
  border-bottom-color: #3f51b5;
  border-width: 2px;
}

.clickable {
  cursor: pointer;
}

#wall > h4 {
  margin: 40px 0;
  font-size: 32px;
  font-family: sans-serif;
}

header {
  height: 64px;
  width: 100%;
}
header nav {
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
header nav > div {
  height: 100%;
}
header nav i.sidenav-trigger {
  color: white;
  margin: 0;
}
header nav .logotype {
  font-size: 22px;
  font-family: sans-serif;
  color: white;
}
header #slide-out {
  padding: 0 15px;
  box-sizing: border-box;
}
header #slide-out .heading {
  height: 64px;
}
@media screen and (max-width: 600px) {
  header #slide-out .heading {
    height: 56px;
  }
}
header #slide-out a {
  padding: 0;
}
header #slide-out .divider {
  margin: 0 0 10px;
}

#wall {
  width: calc(100% - 30px);
  max-width: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}
#wall .form {
  margin-bottom: 20px;
}
#wall .form .input-field.col label {
  left: 0;
}
#wall .form input[type=submit], #wall .form input[type=button] {
  background: #5959bd;
  color: white;
  height: 32px;
  border: none;
  float: right;
  font-size: 14px;
}
#wall .form button {
  background: #5959bd;
  color: white;
  height: 32px;
  border: none;
  float: right;
  font-size: 14px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;
}
#wall .form .dropdown-content li {
  padding: 0 10px;
  position: relative;
}
#wall .form .dropdown-content li span {
  padding-left: 0;
  width: 100%;
}
#wall .form .dropdown-content li i {
  position: absolute;
  right: 10px;
  z-index: 1;
}

/*# sourceMappingURL=preferences.css.map */
