.d_fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.j_sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.j_sa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.j_c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.a_c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}