@use 'theme';
@use '_flex';

body {
    font-family: theme.$face;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background:
        radial-gradient(#3f51b5 3px, transparent 4px),
        radial-gradient(#3f51b5 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 55px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    box-sizing: border-box;
    // min-height: calc(100vh - 60px);
}

* {
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field input[type=number]:focus+label {
    color: theme.$primary !important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid theme.$primary !important;
    box-shadow: 0 1px 0 0 theme.$primary !important;
}

.input-field input[type=number].valid {
    border-bottom: 1px solid theme.$primary !important;
    box-shadow: 0 1px 0 0 theme.$primary !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: theme.$primary;
}

.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
    border-bottom-color: theme.$primary;
    border-width: 2px;
}

input {

    &[type=submit],
    &[type=button] {
        margin: 4px 0px 2px auto;
        background: theme.$primary;
        color: white;
        height: 32px;
        border: none;
        font-size: 14px;
        border-radius: 2px;
        min-width: 64px;
        display: block;
    }
}

.timepicker-digital-display,
.datepicker-date-display,
.datepicker-table td.is-selected {
    background-color: theme.$primary;
}

.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.timepicker-close {
    color: theme.$primary;
}

.datepicker-table td.is-selected {
    .datepicker-day-button {
        color: white;
    }
}

.timepicker-canvas-bg {
    fill: theme.$primary
}

.timepicker-canvas line,
.timepicker-canvas-bearing {
    stroke: theme.$primary;
    fill: theme.$primary;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid theme.$primary;
    -webkit-box-shadow: 0 1px 0 0 theme.$primary;
    box-shadow: 0 1px 0 0 theme.$primary;
}

#wall {

    &>h4 {
        margin: 20px 0 30px;
        font-size: 32px;
        font-family: theme.$face;
    }
}

header {
    height: 64px;
    width: 100%;

    nav {
        padding: 0 15px;
        box-sizing: border-box;
        background-color: theme.$primary;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

        &>div {
            height: 100%;
        }

        i.sidenav-trigger {
            color: white;
            margin: 0;
        }

        .logotype {
            font-size: 22px;
            font-family: theme.$face;
            color: white;
        }
    }

    #slide-out {
        padding: 0 15px;
        box-sizing: border-box;

        .heading {
            height: 64px;

            @media screen and (max-width:600px) {
                height: 56px;
            }
        }

        a {
            padding: 0;
        }

        .divider {
            margin: 0 0 10px;
        }
    }
}