@use 'partitials/theme';
@use 'partitials/global';

#wall {
    padding: 0 30px;
    @media screen and (max-width:425px) {
        padding: 0 15px;
    }

    box-sizing: border-box;

    .pick_time {
        margin: 20px 0 60px;
        padding: 10px 15px;

        &>span {
            font-size: 18px;
        }
    }

    .tabs_container>div {
        padding: 0;
    }

    .tabs {
        border-radius: 4px;

        .tab {
            a {
                color: white;
                background-color: transparent;
            }
        }

        .indicator {
            background-color: theme.$accent;
        }
    }

    #logs {
        margin: 0 auto 40px;

        .log {
            padding: 10px;
            box-sizing: border-box;

            i:hover {
                color: theme.$danger;
            }
        }
    }

    .date_cell {
        @media screen and (max-width:374px) {
            display: none;
        }
    }
}