/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  font-family: Montserrat, sans-serif;
}

.d_fl {
  display: flex;
}

.a_c {
  align-items: center;
}

.j_sb {
  justify-content: space-between;
}

.j_sa {
  justify-content: space-around;
}

.j_c {
  justify-content: center;
}


@media screen and (min-width:1730px) {
  section.view {
    width: 1700px;
    min-height: calc(100vh - 60px);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    overflow: hidden;
    margin: 30px auto;
  }

  body {
    background:
      radial-gradient(#3f51b5 3px, transparent 4px),
      radial-gradient(#3f51b5 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
      #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 55px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);


  }

  body.plus {
    background:
      radial-gradient(circle, transparent 20%, white 20%, white 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, white 20%, white 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#3f51b5 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #3f51b5 8px, transparent 8px) -4px 0;
    background-color: #ffffff;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
  }
}
